<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!events || !events.length"
  notFoundMessage="Event Not Found"
  resetLinkText="Reset Search"
  (reset)="resetSearch()">
</app-not-found>
<div class="event-wrapper">
  <ul class="event-list">
    <li *ngFor="let event of events">
      <a [routerLink]="['/event', event._id]"> <!-- Use event._id to construct the URL -->
        <div class="event-container">
          <div class="event-card">
            <div class="image-container">
              <img src="{{ event.imageUrl }}" alt="{{ event.name }}" class="event-image" />
              <div class="event-overlay">
                <h3>{{ event.name }}</h3>
              </div>
            </div>
            <div class="content">
              <p>{{ event.name }}</p>
              <div class="event-details">
                <p><i class="fa fa-calendar"></i><b> Time:</b> {{ event.time }}</p>
                <p><i class="fa fa-tag"></i><b> Price:</b> {{ event.price | currency }}</p>
              </div>
              <a href="#">Buy Tickets</a>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
