<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>
            </div>
            <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
                <div *ngIf="fc['email'].errors['required']">Email is required.</div>
                <div *ngIf="fc['email'].errors['email']">Invalid email address.</div>
            </div>
            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
                    <div *ngIf="fc['password'].errors['required']">password is required.</div>
                    <div *ngIf="fc['password'].errors['password']">Invalid password.</div>
                </div>
            </div>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>