.alert {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  